/**
 * Headings
 * -------------------------------------------------------------------------- */

.viteland-doc h1,
.viteland-doc h2,
.viteland-doc h3,
.viteland-doc h4,
.viteland-doc h5,
.viteland-doc h6 {
  position: relative;
  font-weight: 600;
  outline: none;
}

.viteland-doc h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
  margin-bottom: 40px;
}

.viteland-doc h2 {
  margin: 48px 0 16px;
  /* padding-top: 24px; */
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.viteland-doc h3 {
  margin: 32px 0 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}

.viteland-doc .header-anchor {
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-weight: 500;
  opacity: 0;
  transition: color 0.25s, opacity 0.25s;
}

.viteland-doc h1:hover .header-anchor,
.viteland-doc h1 .header-anchor:focus,
.viteland-doc h2:hover .header-anchor,
.viteland-doc h2 .header-anchor:focus,
.viteland-doc h3:hover .header-anchor,
.viteland-doc h3 .header-anchor:focus,
.viteland-doc h4:hover .header-anchor,
.viteland-doc h4 .header-anchor:focus,
.viteland-doc h5:hover .header-anchor,
.viteland-doc h5 .header-anchor:focus,
.viteland-doc h6:hover .header-anchor,
.viteland-doc h6 .header-anchor:focus {
  opacity: 1;
}

@media (min-width: 768px) {
  .viteland-doc h1 {
    letter-spacing: -0.02em;
    line-height: 40px;
    font-size: 32px;
  }
}

/**
   * Paragraph and inline elements
   * -------------------------------------------------------------------------- */

.viteland-doc p,
.viteland-doc summary {
  margin: 16px 0;
}

.viteland-doc p {
  z-index: 2;
  line-height: 28px;
}

.viteland-doc blockquote {
  margin: 16px 0;
  border-left: 2px solid var(--viteland-c-divider);
  padding-left: 16px;
  transition: border-color 0.5s;
}

.viteland-doc blockquote > p {
  margin: 0;
  font-size: 16px;
  color: var(--viteland-c-text-2);
  transition: color 0.5s;
}

.viteland-doc a {
  font-weight: 500;
  color: var(--viteland-c-brand);
  text-decoration-style: dotted;
  transition: color 0.25s;
}

.viteland-doc a:hover {
  color: var(--viteland-c-brand-dark);
}

.viteland-doc strong {
  font-weight: 600;
}

/**
   * Lists
   * -------------------------------------------------------------------------- */

.viteland-doc ul,
.viteland-doc ol {
  padding-left: 1.25rem;
  margin: 16px 0;
}

.viteland-doc ul {
  list-style: disc;
}

.viteland-doc ol {
  list-style: decimal;
}

.viteland-doc li + li {
  margin-top: 8px;
}

.viteland-doc li > ol,
.viteland-doc li > ul {
  margin: 8px 0 0;
}

/**
   * Table
   * -------------------------------------------------------------------------- */

.viteland-doc table {
  display: block;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
}

.viteland-doc tr {
  border-top: 1px solid var(--viteland-c-divider);
  transition: background-color 0.5s;
}

.viteland-doc tr:nth-child(2n) {
  background-color: var(--viteland-c-bg-soft);
}

.viteland-doc th,
.viteland-doc td {
  border: 1px solid var(--viteland-c-divider);
  padding: 12px 16px;
}

.viteland-doc th {
  font-size: 16px;
  font-weight: 600;
  background-color: var(--viteland-c-white-soft);
}

.dark .viteland-doc th {
  background-color: var(--viteland-c-black);
}

/**
   * Decorational elements
   * -------------------------------------------------------------------------- */

.viteland-doc hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid var(--viteland-c-divider-light);
}

/**
   * Custom Block
   * -------------------------------------------------------------------------- */

.viteland-doc .custom-block {
  margin: 16px 0;
}

.viteland-doc .custom-block p {
  margin: 8px 0;
  line-height: 24px;
}

.viteland-doc .custom-block p:first-child {
  margin: 0;
}

.viteland-doc .custom-block a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
  transition: opacity 0.25s;
}

.viteland-doc .custom-block a:hover {
  opacity: 0.6;
}

.viteland-doc .custom-block code {
  font-size: var(--viteland-custom-block-code-font-size);
  font-weight: 700;
  color: inherit;
}

.viteland-doc .custom-block div[class*='language-'] {
  margin: 8px 0;
}

.viteland-doc .custom-block div[class*='language-'] code {
  font-weight: 400;
  background-color: transparent;
}

/**
   * Code
   * -------------------------------------------------------------------------- */

/* inline code */
.viteland-doc :not(pre, h1, h2, h3, h4, h5, h6) > code {
  font-size: var(--viteland-code-font-size);
}

.viteland-doc :not(pre, div) > code {
  border-radius: 4px;
  padding: 3px 6px;
  color: var(--viteland-c-text-code);
  background-color: var(--viteland-c-bg-mute);
  transition: color 0.5s, background-color 0.5s;
}

.viteland-doc h1 > code,
.viteland-doc h2 > code,
.viteland-doc h3 > code {
  font-size: 0.9em;
}

.viteland-doc a > code {
  color: var(--viteland-c-brand);
  transition: color 0.25s;
}

.viteland-doc a:hover > code {
  color: var(--viteland-c-brand-dark);
}

.viteland-doc div[class*='language-'] {
  position: relative;
  margin: 16px -24px;
  background-color: var(--viteland-code-block-bg);
  overflow-x: auto;
  transition: background-color 0.5s;
}

@media (min-width: 640px) {
  .viteland-doc div[class*='language-'] {
    border-radius: 8px;
    margin: 16px 0;
  }
}

@media (max-width: 639px) {
  .viteland-doc li div[class*='language-'] {
    border-radius: 8px 0 0 8px;
  }
}

.viteland-doc div[class*='language-'] + div[class*='language-'],
.viteland-doc div[class$='-api'] + div[class*='language-'],
.viteland-doc
  div[class*='language-']
  + div[class$='-api']
  > div[class*='language-'] {
  margin-top: -8px;
}

.viteland-doc [class*='language-'] pre,
.viteland-doc [class*='language-'] code {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.viteland-doc [class*='language-'] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 16px 0;
  background: transparent;
  overflow-x: auto;
}

.viteland-doc [class*='language-'] code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  line-height: var(--viteland-code-line-height);
  font-size: var(--viteland-code-font-size);
  color: var(--viteland-code-block-color);
  transition: color 0.5s;
}

.viteland-doc [class*='language-'] code .highlighted {
  background-color: var(--viteland-code-line-highlight-color);
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}

.viteland-doc [class*='language-'] > button.copy {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 3;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: var(--viteland-code-block-bg);
  opacity: 0;
  cursor: pointer;
  background-image: var(--viteland-icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: opacity 0.4s;
}

.viteland-doc [class*='language-']:hover > button.copy,
.viteland-doc [class*='language-'] > button.copy:focus {
  opacity: 1;
}

.viteland-doc [class*='language-'] > button.copy:hover {
  background-color: var(--viteland-code-copy-code-hover-bg);
}

.viteland-doc [class*='language-'] > button.copy.copied,
.viteland-doc [class*='language-'] > button.copy:hover.copied {
  border-radius: 0 4px 4px 0;
  background-color: var(--viteland-code-copy-code-hover-bg);
  background-image: var(--viteland-icon-copied);
}

.viteland-doc [class*='language-'] > button.copy.copied::before,
.viteland-doc [class*='language-'] > button.copy:hover.copied::before {
  position: relative;
  left: -65px;
  display: block;
  border-radius: 4px 0 0 4px;
  padding-top: 8px;
  width: 64px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--viteland-code-copy-code-active-text);
  background-color: var(--viteland-code-copy-code-hover-bg);
  white-space: nowrap;
  content: 'Copied';
}

.viteland-doc [class*='language-'] > span.lang {
  position: absolute;
  top: 6px;
  right: 12px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  color: var(--viteland-c-text-dark-3);
  transition: color 0.4s, opacity 0.4s;
}

.viteland-doc [class*='language-']:hover > button.copy + span.lang,
.viteland-doc [class*='language-'] > button.copy:focus + span.lang {
  opacity: 0;
}